{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": -36.8506,
        "longitude": 174.7679,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Pacific/Auckland",
        "external_url": null,
        "internal_url": null,
        "currency": "NZD"
    }
}