<html>
    <head>
        <meta charset="utf_8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HomeAI -Index</title>
        <link rel="stylesheet" href="/static/indexView.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <h1><a href="/" id="Home">Home</a></h1>
                <h1><a href="/" id="AI">AI</a></h1>
            </div>
            <nav>
                <ul class="nav-list">
                    <li><a href="https://github.com/cupOfTeaInc/DevaanshAndWilliamUberGLobalHackathonCoding">Repo</a></li>
                </ul>
            </nav>
        </header>

        <main>
        <h2>About</h2>
        <p class="text">We are HomeAI and we aim to make smart homes more efficient by automating the scheduling process. Instead of mnaually scheduling which is extremely inefficient, with HomeAI, scheduling takes a click of a button. You can then continue using your devices normally for a week, and HomeAI will take it from here. Your schedule will have been created, and HomeAI executes that schedule too.</p>
        <h2>Contact</h2>
        <p class="text">William Leader: wdleader18@gmail.com</p>
        <p class="text">Devaansh Gupta: devaanshnz@outlook.com</p>
        </main>
    </body>
</html>