<html>
    <head>
        <meta charset="utf_8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ device["name"] }}</title>
        <link rel="stylesheet" href="/static/indexView.css">
        <!-- <script type="text/javascript" src="static/postTo.js"></script> -->
        <script type="text/javascript">
            function postTo(url){
                //https://stackoverflow.com/a/38982661 -John G (im not very good at js)
                var xhr = new XMLHttpRequest();
                xhr.open("POST", url, true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send();
            }
        </script>
    </head>
    <body>
        <header>
            <div class="logo">
                <h1><a href="/" id="Home">Home</a></h1>
                <h1><a href="/" id="AI">AI</a></h1>
            </div>
            <nav>
                <ul class="nav-list">
                    <li><a href="https://github.com/cupOfTeaInc/DevaanshAndWilliamUberGLobalHackathonCoding">Repo</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>

        <main>
        <div>
        <h1>{{ device["name"] }}</h1>
        {% for function in device["functions"] %}
        <!-- <form method="post" action="/device/{{device["name"]}}/{{function}}">
           <button type="Submit">{{function}}</button> 
        </form> -->
        <button onclick="postTo('/device/{{device['name']}}/{{function}}')">{{function}}</button>
        {% endfor %}
        </div>
        <h2>Schedule to be displayed here (placeholder)</h2>
        </main>
    </body>
</html>