<html>
    <head>
        <meta charset="utf_8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HomeAI -Index</title>
        <link rel="stylesheet" href="/static/indexView.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <h1><a href="/" id="Home">Home</a></h1>
                <h1><a href="/" id="AI">AI</a></h1>
            </div>
            <nav>
                <ul class="nav-list">
                    <li><a href="https://github.com/cupOfTeaInc/DevaanshAndWilliamUberGLobalHackathonCoding">Repo</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>

        <main>
        <div>
        <h2>Devices:</h2>
        {% for device in devices %}
        <button onclick="location.href='{{ device["view"] }}'">{{ device["name"] }}</button>
        {% endfor %}
        <button><a href="/execute">Run HomeAI</a></button>
        </div>
        </main>
    </body>
</html>